PORT=4000

POSTGRES_USER=prod_user
POSTGRES_PASSWORD=prod_password
POSTGRES_HOST=nodejs2025-service_db_prod
POSTGRES_PORT=5432
POSTGRES_DB_NAME=prod_db

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB_NAME}?schema=public

CRYPT_SALT=10
JWT_SECRET_KEY=secret123123
JWT_SECRET_REFRESH_KEY=secret123123
TOKEN_EXPIRE_TIME=1h
TOKEN_REFRESH_EXPIRE_TIME=24h

TEST_MODE=auth

# Decreasing log levels: verbose, debug, log, warn, error, fatal. Choose one for LOG_LEVEL variable.
# For example, verbose logs every level messages, while error - only error and fatal messages
LOG_LEVEL=log
MAX_FILE_SIZE_KB=12